COMFYUI_BASE_IMAGE=pytorch/pytorch:2.4.1-cuda12.1-cudnn9-runtime
COMFYUI_REF=master
COMFYUI_IMAGE=comfyui-a6000:local
COMFYUI_CONTAINER_NAME=comfyui-a6000
COMFYUI_DATA_DIR=./data
COMFYUI_HOST_PORT=8188
COMFYUI_UID=
COMFYUI_GID=
COMFYUI_USER_SPEC=
NVIDIA_VISIBLE_DEVICES=all
